<div *ngIf="!room&&!add" style="padding: 5px;">
  <button class="btn"
    style="position: fixed;bottom: 15vw;right: 40vw;border-radius: 25px;width:50px;height:50px;background-color: white ;box-shadow: 5px 10px 30px #888888;"
    (click)="addRoom()">➕</button>

  <div *ngIf="addMem" id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" (click)="closeModa()">&times;</span>

      <br><br>

      <div *ngIf="rooms[i].admin==nickname">
        <form class="input-group" (ngSubmit)="addMember(rooms[i].roomname,f);f.resetForm()" #f="ngForm">
          <input class="form-control" ngModel name="newMember" placeholder="Add New Member" required>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-danger" [disabled]="!f.valid">add</button>
          </span>
        </form>
      </div>
      <div>
        <br><br>
        <label for="selector" style="padding-right:.3em;">Kick Out:</label>
        <select style="max-width: 20px;" name="selector"
          (ngModelChange)="rooms[i].admin!==nickname?null:selectChangeHandler($event,rooms[i].roomname,rooms[i].admin)"
          ngModel>
          <option *ngFor="let j of rooms[i].members  | keyvalue">{{j.value}}</option>
        </select>
        <button class="btn btn-danger" style="margin-left: 10px;float: right;"
          (click)="deactivate([rooms[i].roomname,rooms[i].admin==nickname])">{{rooms[i].admin==nickname?"Delete Room":"Exit Room"}}
        </button>

      </div>

    </div>

  </div>


  <!-- for pc -->
  <table class="table table-striped" *ngIf="this.device==='pc';else mobile">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Chat Rooms</th>
        <th scope="col">Admin</th>
        <th scope="col"></th>
        <th scope="col" colspan="2">Remove Members </th>
        <th scope="col" colspan="2">Add Members</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of rooms; index as i" (click)="enterChatRoom(x.roomname)">
        <th scope="row"></th>
        <td style="display: flex;">{{x.roomname.length>20?x.roomname.substring(0, 20) + '...':x.roomname}}<div
            style="margin-left:5px;border-radius: 10px;width:auto;min-width:20px;height:20px;background-color: orange;text-align: center;">
            &nbsp;&nbsp;</div>
        </td>
        <td>{{x.admin}}</td>
        <td><button class="btn btn-danger" (click)="deactivate([x.roomname,x.admin==nickname])"
            style="min-width: 104px;">
            {{x.admin==nickname?"Delete Room":"Exit Room"}} </button></td>
        <td style="width: 15vw;">
          <label for="selector" style="padding-right:1em;">Remove: </label>
          <select style="max-width: 20px;" name="selector" (click)="abc()"
            (ngModelChange)="x.admin!==nickname?null:selectChangeHandler($event,x.roomname,x.admin)" ngModel>
            <option *ngFor="let i of x.members | keyvalue">{{i.value}}</option>
          </select>
        </td>
        <td></td>
        <td style="width: 15vw;" *ngIf="x.admin==nickname;else adminOnly">
          <form class="input-group" (ngSubmit)="addMember(x.roomname,f)" #f="ngForm">
            <input class="form-control" (click)="abc()" ngModel name="newMember" required>
            <span class="input-group-btn">
              <button type="submit" (click)="abc()" class="btn btn-danger" [disabled]="!f.valid">add</button>
            </span>
          </form>
        </td>
        <ng-template #adminOnly>
          <td style="width: 15vw;">Contact Admin</td>
        </ng-template>
        <td></td>

      </tr>
    </tbody>
  </table>

  <!-- for mobile -->
  <ng-template #mobile>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Chat Rooms</th>
          <th>More</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of rooms; index as i" (click)="enterChatRoom(x.roomname)">
          <th scope="row"></th>
          <td style="min-width: 60vw;">{{x.roomname.length>30?x.roomname.substring(0, 30) + '...':x.roomname}}</td>
          <td><button class="btn" style="background-color:transparent;font-size: 20px;padding: 0px 5px;"
              (click)="more(i)">⚙️</button></td>
        </tr>
      </tbody>
    </table>
  </ng-template>


</div>

<app-chatroom *ngIf="room" [roomname]='roomname' [isAdmin]='isAdmin' (closeModal)="closeModal($event)"
  (deactivate)="deactivate($event)"></app-chatroom>
<app-addroom *ngIf="add" (closeModal)="closeAddModal($event)"></app-addroom>
<div id="snackbar"> Already a Member!</div>